<h3>Register User</h3>
<form #registerForm="ngForm" (ngSubmit)="submit()">
	<div #nameGroupRef="ngModelGroup" ngModelGroup="name">
		First Name :<input type="text" name="fname" required [ngModel]="'Default Name'" #nameRef="ngModel" />
		<br>
Last Name :<input type="text" name="lname" required [ngModel]="'Default Name'" #nameRef="ngModel" /> <br>

</div>

		below 18
		<input type="radio" name="underAged"
     value="yes" #underAgedRef="ngModel" ngModel/>
Yes
		<input type="radio" name="underAged"
     value="no" #underAgedRef="ngModel" [ngModel]="'no'"/>
No
		<br>
		<div *ngIf="underAgedRef.value === 'yes'">
			Age :
			<input type="number" name="age" ngModel/><br>

</div>

			Email :
			<input type="email" name="email" required email ngModel #emailRef="ngModel" /><br>




			<button  type="submit" [disabled]="addUserRequestPending">
        {{ addUserRequestPending?  'loading' : 'Submit' }}
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" (click)="setDefault()">Default</button>
			<br>
			<button (click)="resetForm()">Clear</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button  (click)="resetNameForm()">Clear Name</button>
</form>